# Ignore virtual environment
/venv/

# Ignore assets folder
/Assets/

# Ignore AI-ONNX folder
/AI-onnx/

# Ignore specific Python file
/VideoEnchancer.py

/.vscode/

# Ignore compiled Python files
*.pyc
__pycache__/

/dist

/build
